<!DOCTYPE html>
<html>
    <head>
        <title>Invest Simulator</title>
    </head>

    <p><a href="{% url 'authentication:logout' %}">Log out</a></p>

    <hr>

    <body>
      {% block content %}{% endblock content %}
    </body>
</html>
