<head>
    <title>Invest Simulator</title>
</head>

<h1>Login </h1>

{% if error_msg %}<p><strong>{{ error_msg }}</strong></p>{% endif %}

<form action="{% url 'authentication:login' %}" method="post">
{% csrf_token %}
  <p>Nombre de usuario: <input type="text" name="username" placeholder="username" /></p>
  <p>Contraseña: <input type="password" name="password" placeholder="password" /></p>
  <button type="submit" class="btn">Login</button>
</form>

<p>No tenés cuenta? Registrate <a href="{% url 'authentication:signup' %}">acá!</a></p>
