<head>
    <title>Invest Simulator</title>
</head>

<h1>Sign Up </h1>

{% if error_msg %}<p><strong>{{ error_msg }}</strong></p>{% endif %}

<form action="{% url 'authentication:signup' %}" method="post">
{% csrf_token %}
  <p>Nombre de usuario: <input type="text" name="username" placeholder="username" /><p/>
  <p>Email: <input type="text" name="email" placeholder="email" /><p/>
  <p>Contraseña: <input type="password" name="password" placeholder="password" /><p/>
  <button type="submit" class="btn">Sign up</button>
</form>

<p>Ya tenés cuenta? Logueate <a href="{% url 'authentication:login' %}">acá!</a><p/>
